/ZombiesGame/nbproject/private/
/ZombiesGame/build/
/JSP+MYSQL/AppJSPMYSQL001/nbproject/private/
/JSP+MYSQL/AppJSPMYSQL001/build/
/JSP+MYSQL/AppJSPMYSQL001/dist/
/JSP+MYSQL/AppGame001/nbproject/private/
/JSP+MYSQL/AppGame001/build/
/JSF/Curso_JSF_001/nbproject/private/
/JSF/Curso_JSF_001/build/
/JSF/App_JSF_01_PrimerosPasos/nbproject/private/
/JSF/App_JSF_01_PrimerosPasos/build/
/JavaEE_JSP/Taller_JSP_01_Scriplets/nbproject/private/
/JavaEE_JSP/Taller_JSP_01_Scriplets/build/
/JavaEE_JSP/Taller_JSP_01_Scriptlet+Formularios/nbproject/private/
/JavaEE_JSP/Taller_JSP_01_Scriptlet+Formularios/dist/
/JavaEE_JSP/Taller_JSP_01_Scriptlet+Formularios/build/
/JavaEE_JSP/Transanciones/nbproject/private/
/Java_JDBC/Transanciones/nbproject/private/
/Java_JDBC/Transanciones/build/
/Java_JDBC/Transacciones/nbproject/private/
/Java_JDBC/Transacciones/build/
/Java_JDBC/PersonaCapaDatos/nbproject/private/
/Java_JDBC/PersonaCapaDatos/build/
/Java_JDBC/PoolConexionesMysql/nbproject/private/
/Java_JDBC/PoolConexiones/build/
/Java_JDBC/PoolConexiones/nbproject/private/
/Java_JDBC/PoolConexionesMysql/build/
/JPA_Hibernate/Hibernate01/nbproject/private/
/JPA_Hibernate/Hibernate01/build/
/JPA_Hibernate/HibernateEjemplo1/build/
/JPA_Hibernate/HibernateEjemplo1/dist/
/JPA_Hibernate/HibernateEjemplo1/nbproject/private/
/JPA_Hibernate/HibernateEjemplo2/build/
/JPA_Hibernate/HibernateEjemplo2/nbproject/private/
/JPA_Hibernate/PersonasWebHIbernateJPA_/nbproject/private/
/JPA_Hibernate/PersonasWebHIbernateJPA_/build/
/JPA_Hibernate/AsociacionesHibernateJPA/build/
/JPA_Hibernate/AsociacionesHibernateJPA/nbproject/private/
/JSF/AppHolaMundoJSF/nbproject/private/
/JSF/AppHolaMundoJSF/build/
/JSF/AppJSF02/nbproject/private/
/JSF/AppJSF02/build/
/JSF/AppJSF02/dist/
/JSF/holamundo-jsf/target/
/JSF/AppJSF02_1/nbproject/private/
/JSF/AppJSF02_1/build/
/JSF/BolsaTrabajoV1/target/
/JSF/BolsaTrabajo_v1/nbproject/private/
/JSF/BolsaTrabajo_v1/build/
/JSF/BolsaTrabajo_v1/dist/
/JSF/BolsaTrabajo_v2/nbproject/private/
/JSF/BolsaTrabajo_v2/build/
/JSF/mx.com.gm_BolsaTrabajoV10_/target/
/JAVAEE/HolaMundoJavaEE/nbproject/private/
/JAVAEE/HolaMundoJavaEE/build/
/JAVAEE/HolaMundoEJB/nbproject/
/JAVAEE/HolaMundoEJB/target/
/JAVAEE/sga-jee/target/
/JAVAEE/sga-jee/nbproject/
/JAVAEE/holamundo-jpa/nbproject/
/JAVAEE/holamundo-jpa/target/
/JAVAEE/sga-jeev2/target/
/JAVAEE/sga-jee_/nbproject/
/JAVAEE/sga-jee_/target/
/JPA_Hibernate/AsociacionesHibernateJPA_01/nbproject/private/
/JPA_Hibernate/AsociacionesHibernateJPA_01/build/
/JPA_Hibernate/CicloVidaHibernateJPA/nbproject/private/
/JPA_Hibernate/CicloVidaHibernateJPA_JPA/nbproject/private/
/JPA_Hibernate/CicloVidaHibernateJPA_JPA/build/
/JPA_Hibernate/PersistenciaCascadaHibernateJPA/nbproject/private/
/JPA_Hibernate/PersistenciaCascadaHibernateJPA/build/
/integracionJAVAEE+JSF+PRIMERFACE/SgaWeb/build/
/integracionJAVAEE+JSF+PRIMERFACE/SgaWeb/nbproject/private/
/JAVAEE/leccion03/sga-jee/target/
/JAVAEE/leccion03/sga-jee/nbproject/
/WebServiceJavaEE/sumaws/target/
/Clase12JPA/nbproject/private/
/Clase12JPA/build/
/JAVAEE/Leccion04/sga-jee/target/
/JAVAEE/Leccion05/sga-jee/target/
/JAVAEE/Leccion06/sga-jee/target/
/JAVAEE/Leccion07/sga-jee/target/
/JAVAEE/Leccion08/sga-jee/target/
/inte_JavaEE_JSP_Servlet/SgaWeb/nbproject/private/
/inte_JavaEE_JSP_Servlet/SgaWeb/build/
/inte_JavaEE_JSP_Servlet/SgaWeb_/build/
/inte_JavaEE_JSP_Servlet/SgaWeb_/nbproject/private/
/inte_JavaEE_JSP_Servlet/SgaWeb/dist/
/integracionJAVAEE JSF PRIMERFACE/SgaJeeWeb/nbproject/private/
/integracionJAVAEE JSF PRIMERFACE/SgaJeeWeb/build/
/integracionJAVAEE JSF PRIMERFACE/ClienteSumaWS/target/
/WebServiceJavaEE/Leccion10/SgaJeeWeb/nbproject/private/
/WebServiceJavaEE/Leccion10/SgaJeeWeb/build/
/WebServiceJavaEE/Leccion11/ClienteSgaWS/target/
/WebServiceJavaEE/Laboratorio/ClienteSgaWs/target/
/WebServiceJavaEE/Laboratorio/SgaJeeWeb/build/
/WebServiceJavaEE/Laboratorio/SgaJeeWeb/dist/
/WebServiceJavaEE/Laboratorio/SgaJeeWeb/nbproject/private/
/WebServiceJavaEE/Leccion12/SgaJeeWeb/nbproject/private/
/WebServiceJavaEE/Leccion12/SgaJeeWeb/build/
/WebServiceJavaEE/Leccion12/ClienteSgaRestWS/target/
/WebServiceJavaEE/Leccion12/SgaJeeWeb/dist/
/SeguridadJavaEE/Leccion13/SgaJeeWeb/nbproject/private/
/SeguridadJavaEE/Leccion13/SgaJeeWeb/build/
/integracionJAVAEE JSF PRIMERFACE/ClienteEJBSeguridad/target/
/SeguridadJavaEE/Leccion13/ClienteSgaRestWS/target/